<!DOCTYPE HTML>
<html>
  <head>
    <title>MYP 4A Class Trip Fundraiser</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
  </head>
  <body class="is-preload homepage">
    <div
      id="page-wrapper">
      <!-- Header -->
      <div id="header-wrapper">
        <header
          id="header" class="container">
          <!-- Logo -->
          <div id="logo">
            <h1>
              <a href="index.html">MYP 4A</a>
            </h1>
          </div>
        </header>
      </div>
      <!-- Banner -->
      <div id="banner-wrapper">
        <div id="banner" class="box container">
          <div class="row">
            <div class="col-12 col-12-medium">
              <h2>We are MYP 4A!</h2>
              <p>A group of seniors at Europaskolan, Södermalm</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Features -->
      <div id="features-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-4 col-12-medium">
              <section class="box feature">
                <img src="/assets/images/tutor.jpg" alt="" class="image featured"/>
                <div class="inner">
                  <header>
                    <h2>Tutoring</h2>
                    <p>Helping PYP students</p>
                  </header>
                  <p>We have been in your shoes, we have been PYP students once. We know how tricky it can be and we are here to help you
                    navigate the grades with some expert tutoring.</p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <a href="{{ site.booking_url }}" class="button">Book now!</a>
                      </li>
                    </ul>
                  </footer>
                </div>
              </section>
            </div>
            <div class="col-4 col-12-medium">
              <section class="box feature">
                <img src="/assets/images/sports.jpg" alt="" class="image featured"/>
                <div class="inner">
                  <header>
                    <h2>Sport activities</h2>
                    <p>Healthy body, healthy mind</p>
                  </header>
                  <p>Are you into football? Maybe basketball? Maybe you wanna try your skills playing against some older opponents? We are
                    here to coach you, help you become better and enjoy the sport of your preference.</p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <a href="{{ site.booking_url }}" class="button">Book now!</a>
                      </li>
                    </ul>
                  </footer>
                </div>
              </section>
            </div>
            <div class="col-4 col-12-medium">
              <section class="box feature">
                <img src="/assets/images/walk.jpg" alt="" class="image featured"/>
                <div class="inner">
                  <header>
                    <h2>Guardian services</h2>
                    <p>Walking the younger kids home</p>
                  </header>
                  <p>Are you worried that your young one walks home alone? We are here to offer them company and stimulating conversation
                    on the way home. Walk with a MYP student and life becomes better.</p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <a href="{{ site.booking_url }}" class="button">Book now!</a>
                      </li>
                    </ul>
                  </footer>
                </div>
              </section>
            </div>
            <div class="col-4 col-12-medium">
              <section class="box feature">
                <img src="/assets/images/dog.jpg" alt="" class="image featured"/>
                <div class="inner">
                  <header>
                    <h2>Dog walking</h2>
                    <p>Your best friend deserves a walk</p>
                  </header>
                  <p>Your dog needs to go out in the morning but you need to sleep in. What is the solution? Get a MYP 4A student to do
                    the dog walking for you. Your dog will be happy and you will get to enjoy sleeping in!
                  </p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <a href="{{ site.booking_url }}" class="button">Book now!</a>
                      </li>
                    </ul>
                  </footer>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- Main -->
      <div id="main-wrapper">
        <div class="container">
          <div class="row gtr-200">
            <div
              class="col-4 col-12-medium">
              <!-- Sidebar -->
              <div id="sidebar">
                <section class="widget thumbnails">
                  <h3>Our work</h3>
                  <div class="grid">
                    <div class="row gtr-50">
                      <div class="col-6">
                        <img src="/assets/images/tutor.jpg" alt="" / class="image fit">
                      </div>
                      <div class="col-6">
                        <img src="/assets/images/sports.jpg" alt="" / class="image fit">
                      </div>
                      <div class="col-6">
                        <img src="/assets/images/walk.jpg" alt="" / class="image fit">
                      </div>
                      <div class="col-6">
                        <img src="/assets/images/dog.jpg" alt="" / class="image fit">
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <div
              class="col-8 col-12-medium imp-medium">
              <!-- Content -->
              <div id="content">
                <section class="last">
                  <h2>So what's this all about?</h2>
                  <p>
                    <strong>MYP 4A</strong>
                    is a group of seniors at Europaskolan, Södermalm who wants to finish their studies with an amazing class trip.
                  </p>
                  <p>
                    Class trips require capital, and we are trying to raise as much capital as possible for our amazing trip. One of the
                    ways we chose to raise the capital is by offering our services to our peers and our community.
                  </p>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div id="footer-wrapper">
        <footer id="footer" class="container">
          <div class="row">
            <div class="col-12">
              <div id="copyright">
                <ul class="menu">
                  <li>&copy; 2023, MYP 4A, Europaskolan</li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
